<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
    <!--<link href="css/ionic.app.css" rel="stylesheet">-->

    <!-- Crypto js -->
    <script src="js/crypto/core.js"></script>
    <script src="js/crypto/md5.js"></script>
    <script src="js/crypto/sha.js"></script>
    <script src="lib/x2json/x2json.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/directives/hideHeader.js"></script>

    <!-- Services js -->
    <script src="js/services/tablesFactory.js"></script>
    <script src="js/services/newsFactory.js"></script>
    <script src="js/services/loginFactory.js"></script>
    <script src="js/services/squadFactory.js"></script>
    <script src="js/services/fixtureFactory.js"></script>

    <!-- Controllers js -->
    <script src="js/controllers/fixtureCtrl.js"></script>
    <script src="js/controllers/homeCtrl.js"></script>
    <script src="js/controllers/licenseCtrl.js"></script>
    <script src="js/controllers/loginCtrl.js"></script>
    <script src="js/controllers/newsCtrl.js"></script>
    <script src="js/controllers/squadCtrl.js"></script>
    <script src="js/controllers/squadDetailCtrl.js"></script>
    <script src="js/controllers/tablesCtrl.js"></script>
    <script src="js/controllers/tabsCtrl.js"></script>
    <script src="js/controllers/profileCtrl.js"></script>
    <script src="js/controllers/socialCtrl.js"></script>


    <script src="lib/angular-qrcode/angular-qrcode.js"></script>
    <script src="lib/qrcode-generator/js/qrcode.js"></script>
    <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>
    <script src="lib/ng-twitter-api/dist/ng-twitter-api.min.js"></script>
    <script src="lib/ngStorage/ngStorage.min.js"></script>


</head>
<body ng-app="app">
<div class="wrapper">
    <div class="container">
        <header>
            <div class="top-menu">
                <a class="top-menu-btn" href="#/login"><img src="img/top-menu-icon.png"/></a>
                <ul>
                    <li>item 1</li>
                    <li>item 2</li>
                </ul>
            </div>
            <h1>Wanderers<span>App Oficial</span></h1>

            <div class="brand"><img src="img/top-menu-brand.png"/></div>
        </header>
        <!--<ion-nav-bar class="bar-positive">-->
        <!--</ion-nav-bar>-->


        <ion-nav-view></ion-nav-view>
        <section id="tab-bar" class="clearfix" ng-controller="tabsCtrl">
            <div>
                <div class="row">
                    <div class="col">
                        <a href="#/home">
                            <img src="img/menu/home.png" ng-if="tab != 1"/>
                            <img src="img/menu/home_a.png" ng-if="tab == 1"/>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#/news">
                            <img src="img/menu/news.png" ng-if="tab != 2"/>
                            <img src="img/menu/news_a.png" ng-if="tab == 2"/>
                        </a>
                    </div>
                    <div class="col"><a href="#/tables">
                        <img src="img/menu/ball.png" ng-if="tab != 3"/>
                        <img src="img/menu/ball_a.png" ng-if="tab == 3"/>
                    </a>
                    </div>
                    <div class="col">
                        <a href="#/login">
                            <img src="img/menu/user.png" ng-if="tab != 4"/>
                            <img src="img/menu/user_a.png" ng-if="tab == 4"/>
                        </a>
                    </div>
                    <div class="col"><a href="#" ng-click="toogle();$event.stopPropagation();">
                        <img id="more" src="img/menu/more.png"/></a></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#/squad">
                            <img src="img/menu/team.png" ng-if="tab != 5"/>
                            <img src="img/menu/team_a.png" ng-if="tab == 5"/>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#/license">
                            <img src="img/menu/qr.png" ng-if="tab != 6"/>
                            <img src="img/menu/qr_a.png" ng-if="tab == 6"/>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#/fixture">
                            <img src="img/menu/callendar.png" ng-if="tab != 7"/>
                            <img src="img/menu/callendar_a.png" ng-if="tab == 7"/>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#/social">
                            <img src="img/menu/social.png" ng-if="tab != 8"/>
                            <img src="img/menu/social_a.png" ng-if="tab == 8"/>
                        </a>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
