<ion-view title="News">
  <ion-content overflow-scroll="true" padding="false">
    <div class="container">
      <section id="news">
        <div class="top"></div>
        <p class="tit-highlight">Noticias</p>
        <div class="inn">
          <div class="news-nuevas">
            <article class="clearfix" ng-repeat="new in news">
              <div class="news-picture">
                <img src="{{new.img}}" alt="image1"/>
              </div>
              <div class="news-content">
                <h4 class="title">{{toASCII(new.titulo)}}</h4>

                <div class="resume">{{new.extracto}}</div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>
