<ion-view title="News">
  <ion-content overflow-scroll="true" padding="false">
    <div class="container">
      <section id="news">
        <div class="top"></div>
        <p class="tit-highlight">Noticias</p>
        <ul class="_tabs news-category clearfix">
          <li></li>
          <li><a href="#" title="nuevas" class="current">Nuevas</a></li>
          <li><a href="noticias-sociales.html" title="sociales">Sociales</a></li>
        </ul>
        <div class="inn">
          <div class="news-nuevas">
            <article class="clearfix">
              <div class="news-picture">
                <img src="img/news/news2.jpg" alt="image1"/>
              </div>
              <div class="news-content">
                <h4 class="title">oioioioiioioioio ioioioioi ioioiioioiio ioi oioioiioioioio ioioioioi ioioi oioioi</h4>

                <div class="resume">ioioioioiioioioio ioioioioi</div>
              </div>
            </article>
            <article class="clearfix">
              <div class="news-picture">
                <img src="img/news/news3.jpg" alt="image2"/>
              </div>
              <div class="news-content">
                <h4 class="title">oioioioiioioioio ioioioioi ioioiioioiio ioi oioioiioioioio ioioioioi ioioi oioioi</h4>

                <div class="resume">ioioioioiioioioio ioioioioi</div>
              </div>
            </article>
            <article class="clearfix">
              <div class="news-picture">
                <img src="img/news/news2.jpg" alt="image1"/>
              </div>
              <div class="news-content">
                <h4 class="title">oioioioiioioioio ioioioioi ioioiioioiio ioi oioioiioioioio ioioioioi ioioi oioioi</h4>

                <div class="resume">ioioioioiioioioio ioioioioi</div>
              </div>
            </article>
            <article class="clearfix">
              <div class="news-picture">
                <img src="img/news/news3.jpg" alt="image2"/>
              </div>
              <div class="news-content">
                <h4 class="title">oioioioiioioioio ioioioioi ioioiioioiio ioi oioioiioioioio ioioioioi ioioi oioioi</h4>

                <div class="resume">ioioioioiioioioio ioioioioi</div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>
