<ion-view title="News">
  <ion-content overflow-scroll="true" padding="false">
    <ion-refresher ng-if="!error" on-refresh="doRefresh()"></ion-refresher>
    <div class="container">
      <section id="positions">
        <div class="top"></div>
        <p class="tit-highlight">Social</p>
        <div class="inn">
          <div ng-if="error">
            <h2>{{errorMessage}}</h2>
            <button class="btn" ng-click="reLogin()">Reintentar</button>
          </div>
          <div ng-if="!error" ng-repeat="entry in home_timeline" class="list card">
            <div class="item item-avatar">
              <img ng-src="{{entry.user.profile_image_url}}"/>

              <h2>{{entry.user.name}}</h2>

              <p>{{correctTimestring(entry.created_at) | date:'medium'}}</p>
            </div>

            <div class="item item-body">
              <p ng-bind-html="entry.text"></p>
              <img ng-if="entry.extended_entities" ng-src="{{ entry.extended_entities.media[0].media_url }}"
                   style="width: 100%;"/>
            </div>

          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>

