<ion-view title="Tables">
  <ion-content overflow-scroll="true" padding="false">
    <div class="container">
      <section id="positions" class="area-positions">
        <div class="top"></div>
        <p class="tit-highlight">Posiciones</p>
        <!-- tabs -->
        <ul class="_tabs clearfix">
          <li><a href="go_anual" title="anual">Anual</a></li>
          <li><a href="go_clausura" title="clausura" class="current">Clausura</a></li>
          <li><a href="go_apertura" title="apertura">Apertura</a></li>
        </ul>
        <div class="inn">
          <div class="table tabla show">
            <div class="hr">
              <ul>
                <li class="posicion"> #</li>
                <li class="escudo"></li>
                <li class="equipo"> Equipo</li>
                <li>PJ</li>
                <li>PG</li>
                <li>PE</li>
                <li>PP</li>
                <li>GF</li>
                <li>GC</li>
                <li>PTS</li>
              </ul>
            </div>
            <div class="td">
              <ul id="peñarol">
                <li class="posicion">1.</li>
                <li class="escudo"><img src="img/teams/penarol.png"></li>
                <li class="equipo">Peñarol</li>
                <li>8</li>
                <li>5</li>
                <li>1</li>
                <li>2</li>
                <li>16</li>
                <li>8</li>
                <li>16</li>
              </ul>
              <ul id="danubio">
                <li class="posicion">2.</li>
                <li class="escudo"><img src="img/teams/danubio.png"></li>
                <li class="equipo">Danubio</li>
                <li>8</li>
                <li>5</li>
                <li>1</li>
                <li>2</li>
                <li>12</li>
                <li>8</li>
                <li>16</li>
              </ul>
              <ul id="juventud">
                <li class="posicion">3.</li>
                <li class="escudo"><img src="img/teams/juventud.jpg"></li>
                <li class="equipo">Juventud</li>
                <li>8</li>
                <li>4</li>
                <li>2</li>
                <li>2</li>
                <li>16</li>
                <li>12</li>
                <li>14</li>
              </ul>
              <ul id="wanderers" class="golden">
                <li class="posicion">13.</li>
                <li class="escudo"><img src="img/teams/wanderers.png"></li>
                <li class="equipo">Wanderers</li>
                <li>8</li>
                <li>2</li>
                <li>3</li>
                <li>3</li>
                <li>9</li>
                <li>8</li>
                <li>9</li>
              </ul>
              <ul id="peñarol">
                <li class="posicion">1.</li>
                <li class="escudo"><img src="img/teams/penarol.png"></li>
                <li class="equipo">Peñarol</li>
                <li>8</li>
                <li>5</li>
                <li>1</li>
                <li>2</li>
                <li>16</li>
                <li>8</li>
                <li>16</li>
              </ul>
              <ul id="danubio">
                <li>2.</li>
                <li class="escudo"><img src="img/teams/danubio.png"></li>
                <li class="equipo">Danubio</li>
                <li>8</li>
                <li>5</li>
                <li>1</li>
                <li>2</li>
                <li>12</li>
                <li>8</li>
                <li>16</li>
              </ul>
              <ul id="juventud">
                <li>3.</li>
                <li class="escudo"><img src="img/teams/juventud.jpg"></li>
                <li class="equipo">Juventud</li>
                <li>8</li>
                <li>4</li>
                <li>2</li>
                <li>2</li>
                <li>16</li>
                <li>12</li>
                <li>14</li>
              </ul>
              <ul id="wanderers" class="golden">
                <li>13.</li>
                <li class="escudo"><img src="img/teams/wanderers.png"></li>
                <li class="equipo">Wanderers</li>
                <li>8</li>
                <li>2</li>
                <li>3</li>
                <li>3</li>
                <li>9</li>
                <li>8</li>
                <li>9</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>
