<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stablet">
        <ion-tab title="Apertura" href="#/app/fixture/apertura">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Clausura" href="#/app/fixture/clausura">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Anual" href="#/app/fixture/anual">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Descenso"href="#/app/fixture/descenso">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
