<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-left">
        <ion-tab title="Apertura" icon="ion-ios-camera" href="#/page6/apertura">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Clausura" icon="ion-ios-camera" href="#/page6/clausura">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Anual" icon="ion-ios-camera" href="#/page6/anual">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Descenso" icon="ion-ios-camera" href="#/page6/descenso">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>