/*  Ajustes de containers  */
div.container {
  margin-top: 33px;
  padding-bottom: 110px !important;
}

div.container#home {
  padding-bottom: 0px !important;
}
/*  Ajustes de containers  */

.tit-highlight.invert {
  position: inherit;
  background-color: black;
  color: white;
  width: 50%;
  font-size: 1em;
}

#news.squad .inn {
  padding-top: 20px;
}

#news.squad .news-content {
  padding: 0;
}

#news.squad .news-nuevas p.title {
  font-size: 22px;
  word-break: normal;
  white-space: normal;
}

#news.squad .number {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.fecha {
  border-bottom: 2px solid #9a999e;
}

.fecha.actual {
  background-color: #000000;
  color: white;
}

.fecha.actual p.titulo {
  font-size: 17px;
}

.fecha.actual .detalle p {
  font-size: 17px;
}

.fecha.proxima {
  background-color: #e2e2e2;
}

.fecha.ultima {
  background-color: #e2e2e2;
}

.fecha p.titulo {
  font-size: 15px;
  color: gray;
  text-align: center;
}

.fecha .detalle p {
  font-size: 15px;
}

.fecha .detalle .score {
  text-align: center;
}

.fecha .detalle .score img {
  width: 16px;
}

.tit-highlight {
  z-index: 2;
}

.swiper-container.swiper-container-horizontal.swiper-container-fade {
  height: 373px;
}

form.login input[type='text'], form.login input[type='password'], form.login input[type='email'] {
  border: 1px solid lightgray;
  height: 55px;
  font-size: 24px;
}

form.login p.error {
  font-size: 16px;
  color: darkred;
}

.popup-alert .popup {
  background-color: white;
}

.jugador .seccion {
  background-color: black;
  color: white;
}

.jugador .seccion .dorsal {
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  line-height: 32px;
}

.profile .item.item-input {
  font-weight: bold;
}

.profile .item.item-input .input-label {
  font-weight: normal;
}

button.facebook {
  background-color: #3b5998!important;
}
button.twitter {
  background-color: #1dcaff!important;
}
button.facebook._disabled, button.twitter._disabled
{
  opacity: .4;
}

#licence{
  background-image: url('../img/licenceBackground.png');
  background-size: cover;
  background-position-x: -460px;
}

#licence-box .row .col{
  background-color: white;
  margin: 3px 0px;
}

#licence canvas.qrcode{
  padding: 15px;
  background-color: white;
}

qrcode{
  left: -15px;
  position: relative;
}

#tab-bar img{
  width: 100%;
}

.history{
    font-size: initial;
    color: #666666;
}

.history p {
  text-align: center;
  color: black;
}

.text-align-rigt{
  text-align: right
}

.bar.bar-positive {
    border-color: #000;
    background-color: #000;
    background-image: linear-gradient(0deg, #000, #000 50%, transparent 50%);
    color: #fff;
}

#rewards .fecha .detalle .score img {
  width: 35px;
}

input.result {
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 60px;
  height: 85px;
}

ul._tabs.horizontal-scroll {
  display: -webkit-box;
  overflow-x: scroll;
}

ul._tabs.horizontal-scroll li {
  display: list-item;
  float: none;
}