div.container {
  padding-bottom: 200px !important;
}

.tit-highlight.invert {
  position: inherit;
  background-color: black;
  color: white;
  width: 33%;
  font-size: 1em;
}

#news.squad {

}

#news.squad .inn {
  padding-top: 20px;
}

/*#news.squad article {*/
/*padding-left: 20px;*/
/*padding-right: 20px;*/
/*}*/

#news.squad .news-content {
  padding: 0;
}

#news.squad .news-nuevas p.title {
  font-size: 22px;
  word-break: normal;
  white-space: normal;
}

#news.squad .number {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.fecha {
  border-bottom: 2px solid #9a999e;
}

.fecha.actual {
  background-color: #f8d21e;
}

.fecha.actual p.titulo {
  font-size: 17px;
}

.fecha.actual .detalle p {
  font-size: 17px;
}

.fecha.proxima {
  background-color: #e2e2e2;
}

.fecha.ultima {
  background-color: #e2e2e2;
}

.fecha p.titulo {
  font-size: 15px;
  color: gray;
  text-align: center;
}

.fecha .detalle p {
  font-size: 15px;
}

.fecha .detalle .score {
  text-align: center;
}

.fecha .detalle .score img {
  width: 16px;
}

.tit-highlight {
  z-index: 2;
}

.swiper-container.swiper-container-horizontal.swiper-container-fade {
  height: 373px;
}

form.login input[type='text'], form.login input[type='password'] {
  border: 1px solid lightgray;
  height: 55px;
  font-size: 24px;
}

form.login p.error {
  font-size: 16px;
  color: darkred;
}

.popup-alert .popup {
  background-color: white;
}

.jugador .seccion{
  background-color: black;
  color: white;
}

.jugador .seccion .titulo {

}

.jugador .seccion .dorsal {
  text-align: center;
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  line-height: 32px;
}
